doctype html
html(class="no-js")
	
	include ../base/head
	
	body
		
		include ../base/header
		
		section.hero
			figure.hero-image(style="background-image: url(content/images/hero.jpg)", alt="Placeholder 1340x760")
			article.hero-content
				h2.hero-title Blaze your trail
				p.hero-caption 
					| We are diverse, we are affordable, we are community-minded and we are focused on helping our students find their pathway to new opportunities. Live on campus, commute from home &hellip; just don’t miss out. 
					a(href="#") Learn More.

		section.ctas
			.container
				.cols.cols-1-1-1-1
					article.cta.cta--cap.col
						h3.cta__title Academic Programs
						p.cta__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perspiciatis excepturi accusantium nesciunt, pariatur et voluptas vitae sit ad tempore nulla nobis maxime voluptates ratione minima dolor dolores porro consectetur!
						a.cta__link(href="#") Explore Programs

					article.cta.cta--bank.col
						h3.cta__title Financial Freedom
						p.cta__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perspiciatis excepturi accusantium nesciunt, pariatur et voluptas vitae sit ad tempore nulla nobis maxime voluptates ratione minima dolor dolores porro consectetur!
						a.cta__link(href="#") Compare Tuition

					article.cta.cta--building.col
						h3.cta__title Visit UNT Dallas
						p.cta__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perspiciatis excepturi accusantium nesciunt, pariatur et voluptas vitae sit ad tempore nulla nobis maxime voluptates ratione minima dolor dolores porro consectetur!
						a.cta__link(href="#") Plan a Visit

					article.cta.cta--location.col
						h3.cta__title DFW Region
						p.cta__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perspiciatis excepturi accusantium nesciunt, pariatur et voluptas vitae sit ad tempore nulla nobis maxime voluptates ratione minima dolor dolores porro consectetur!
						a.cta__link(href="#") Explore Region

		section.info
			.container
				div.cols.cols-1-1-1-1.info__slider
					article.col.info__content
						p.info__description
							strong.info__title 16:1
							| Student/Teacher Ratio

					article.col.info__content
						p.info__description
							strong.info__title
								| N
								sup o
								|  1
							| The Best Cities for Jobs
							sub ~ Forbes

					article.col.info__content
						p.info__description
							strong.info__title 100%
							| Community Commitment

					article.col.info__content
						p.info__description
							strong.info__title 95%
							| Diverse Student Body

		section.explore
			.container
				h3.explore__title Explore our Academics

				form.search-form
					input.search-field(type="search" placeholder="Search for a Degree")
					button.search-submit(type="submit" value="Submit")

				a.explore__link(href="#") Browse academic programs

			.edge1
			.edge2
			.edge3

		section.featured-posts
			.container
				div.cols.cols-1-1
					.col
						article.featured-post
							header.featured-post__header
								h3.featured-post__title UNT Dallas Opens First Residence Hall
								date.featured-post__date August 03, 2017
							img.featured-post__thumbnail(src="content/images/thumbnail-1.jpg", alt="Placeholder")

					.col
						article.featured-post
							header.featured-post__header
								h3.featured-post__title New faces of UNTD: Meet John Bullock, Risk Management
								date.featured-post__date July 27, 2017
							img.featured-post__thumbnail(src="content/images/thumbnail-2.jpg", alt="Placeholder")

		include ../base/footer