// START : BASE/FOOTER

footer#footer.footer

	.container

		.cols.cols-3-1
			.col
				nav.footer__nav
					h4.footer__title Additional Resources

					.cols.cols-1-1-1
						ul.footer__list.col
							li.footer__item
								a.footer__link(href="#") Pay Your Bill Online
							li.footer__item
								a.footer__link(href="#") Employment
							li.footer__item
								a.footer__link(href="#") Faculty/Staff webmail
							li.footer__item
								a.footer__link(href="#") Facilities Request
							li.footer__item
								a.footer__link(href="#") Student Complaints
							li.footer__item
								a.footer__link(href="#") Report concern for an individual
							li.footer__item
								a.footer__link(href="#") Consumer Information
							li.footer__item
								a.footer__link(href="#") Sexual Violence Resources
							li.footer__item
								a.footer__link(href="#") Faculty, CVs and Sylabi (HB2504)
						
						ul.footer__list.col
							li.footer__item
								a.footer__link(href="#") UNT
							li.footer__item
								a.footer__link(href="#") UNT System
							li.footer__item
								a.footer__link(href="#") UNT Health Science Center
							li.footer__item
								a.footer__link(href="#") UNT System Business Service Center
							li.footer__item
								a.footer__link(href="#") YNT Dallas Compliance Hotline
							li.footer__item
								a.footer__link(href="#") THECB Institutional Resume
							li.footer__item
								a.footer__link(href="#") UNT Dallas Policy Index
							li.footer__item
								a.footer__link(href="#") Accreditation Statement

						ul.footer__list.col
							li.footer__item
								a.footer__link(href="#") State Comptroller's Office
							li.footer__item
								a.footer__link(href="#") Legislative Appropriations Request
							li.footer__item
								a.footer__link(href="#") Texas Veterans Portal
							li.footer__item
								a.footer__link(href="#") Disclaimer
							li.footer__item
								a.footer__link(href="#") Linking Notice
							li.footer__item
								a.footer__link(href="#") Privacy Statement
							li.footer__item
								a.footer__link(href="#") Web Accessibility Policy
							li.footer__item
								a.footer__link(href="#") 'People with Disabilities'
							li.footer__item
								a.footer__link(href="#") Clery Reports

			.col
				section.support
					h4.footer__title Support UNT Dallas
					img(src="content/images/avatar.jpg", alt="Placeholder").support__thumbnail
					p.support__description Your gift to UNT Dallas makes a difference in the lives of students like Jonathan.
					a.support__link(href="#") Read Jonathan's Story
					a.support__link(href="#") Support UNT Dallas

				nav.social
					h4.footer__title Visit Us
					ul.social__list
						li.social__item
							a.social__link.social__link--facebook(href="#") Facebook
						li.social__item
							a.social__link.social__link--instagram(href="#") Instagram
						li.social__item
							a.social__link.social__link--google-plus(href="#") Google Plus
						li.social__item
							a.social__link.social__link--linkedin(href="#") LinkedIn
						li.social__item
							a.social__link.social__link--youtube(href="#") YouTube

		p.footer__copyright Copyright &copy; 2017. All Rights Reserved. University of North Texas.

//- Integrity hashes generated at https://www.srihash.org/
//- This version does not include AJAX or animations. Switch to the non-slim version if these are needed.
script(src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")

//- This version includes AJAX and animations. Use the slim version if possible.
//- script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous")

//- Fallback: load jQuery locally if file from CDN does not load
//- https://hacks.mozilla.org/2015/09/subresource-integrity-in-firefox-43/
script.
	window.jQuery || document.write(unescape("%3Cscript src='assets/js/jquery-3.2.1.min.js' type='text/javascript'%3E%3C/script%3E"));

//- Fallback: load owlCarousel locally if file from CDN does not load
script.
	jQuery.fn.owlCarousel || document.write(unescape("%3Cscript src='assets/js/owl.carousel.min.js' type='text/javascript'%3E%3C/script%3E"));

//- Main scripts
script.
	$('.no-js').removeClass('no-js').addClass('js');

	//- Toggles menu
	$('.header-nav__toggle').on('click', function(){
		var $this = $(this),
			$body = $('body'),
			$toggled = $('.header-nav__toggle--toggled');

		if( $toggled.length ) {
			$toggled.removeClass('header-nav__toggle--toggled');
			$body.removeClass('hide-overflow');
		} else {
			$this.addClass('header-nav__toggle--toggled');
			$body.addClass('hide-overflow');
		}
	});

	//- Initialize slider
	var _mobileBreakpoint = 750,
		$slider = $('.info__slider'),
		_timeout = 3000,
		_dots = true,
		_sliderOptions = {
			items: 1,
			autoplay: _timeout ? true : false,
			autoplayTimeout: _timeout ? _timeout : 0,
			dots: _dots ? _dots : false,
			loop: true
		};

	if ( $(window).width() < _mobileBreakpoint ) {
		$slider.addClass('owl-carousel').owlCarousel(_sliderOptions);
	} else {
		$slider.addClass('off');
	}

	//- Destry or re-initialize slider on resize
	$(window).resize(function() {
		if ( $(window).width() < _mobileBreakpoint ) {
			if ( $slider.hasClass('off') ) {
				var owlActive = $slider.owlCarousel(_sliderOptions);
				$slider.addClass('owl-carousel').removeClass('off');
			}
		} else {
			if ( !$slider.hasClass('off') ) {
				$slider.removeClass('owl-carousel').addClass('off').trigger('destroy.owl.carousel');
				$slider.find('.owl-stage-outer').children(':eq(0)').unwrap();
			}
		}
	});

	//- Toggles submenus in main menu
	$('.header-nav__sub-toggle').on('click', function(event){
		var $this = $(this),
			$toggled = $('.header-nav__sub-toggle--toggled');

		if( $this.hasClass('header-nav__sub-toggle--toggled') ) {
			$this.removeClass('header-nav__sub-toggle--toggled');
		} else {
			$toggled.removeClass('header-nav__sub-toggle--toggled');
			$this.addClass('header-nav__sub-toggle--toggled');
		}
	});

	//- Toggles submenus in footer
	$('.footer__nav').on('click', '.footer__title', function(){
		$(this).toggleClass('footer__title--toggled');
	});

// END : BASE/FOOTER