// START : BASE/HEADER

header#header.header
	h1.header__logo

		a(href="/" style="background-image: url(/assets/images/logo-color.png);") UNT Dallas

	button.header-nav__toggle Toggle Menu

	nav.header-nav

		ul.header-nav__list

			li.header-nav__item

				button.header-nav__sub-toggle About Us

				ul.header-nav__sub-list

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Submenu 1

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Submenu 2

			li.header-nav__item

				button.header-nav__sub-toggle Academics

				ul.header-nav__sub-list

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Submenu 1

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Submenu 2

			li.header-nav__item

				button.header-nav__sub-toggle Admissions

				ul.header-nav__sub-list

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Submenu 1

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Submenu 2

			li.header-nav__item

				button.header-nav__sub-toggle Our Campus

				ul.header-nav__sub-list

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Submenu 1

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Submenu 2

			li.header-nav__item

				button.header-nav__sub-toggle Student Life

				ul.header-nav__sub-list

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Submenu 1

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Submenu 2

		ul.header-sub-nav

			li.header-nav__item

				button.header-nav__sub-toggle Info For: 

				ul.header-nav__sub-list

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Future Students

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Current Students

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Faculty &amp; Staff

					li.header-nav__sub-item

						a.header-nav__sub-link(href="#") Alumni

		section.header-sub-nav.header-sub-nav--unt
			a.header-nav__sub-link(href="#") UNTDtv
			a.header-nav__sub-link(href="#") My UNTD

		section.search
			form.search-form
				input.search-field(type="search" placeholder="Search")
				button.search-submit(type="submit" value="Submit")

		section.header-ctas
			a.header-cta(href="#") Give
			a.header-cta(href="#") Visit
			a.header-cta(href="#") Apply

// END : BASE/HEADER