// START : BASE/HEAD

head
	title UNT Dallas
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	link(rel="icon",href="/favicon.ico")
	meta(name="viewport", content="initial-scale=1.0, width=device-width")

	//- Needs to run before main stylesheet to avoid style changes
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:600|Source+Sans+Pro:400,600|Playfair+Display:700")
	
	
	//- Build: https://modernizr.com/download/?backgroundblendmode-cssfilters-inlinesvg-svgfilters-prefixes-setclasses
	//- script(src="/assets/js/modernizr-custom.js")

	link(rel="stylesheet" href="assets/css/main.css")

	//- Loading JS in footer

// END : BASE/HEAD