$direction: left;
$reverse: right;
$dir: ltr;

@import
"bourbon/bourbon",

// vendor
"vendor/reset",
"vendor/owl/owl.carousel",
"vendor/gray",

// base
"base/vars",
"base/fonts",
"base/icons",
"base/util",
"base/browser-tweaks",
"base/global",
"base/header",
"base/header-ctas",
"base/footer",
"base/layout",
"base/wysiwyg",

// modules
"modules/ctas",
"modules/hero",
"modules/info",
"modules/explore",
"modules/search",
"modules/featured-posts";

// body {
// 	&:after {
// 		content: '';
// 		position: fixed;
// 		bottom: 0;
// 		background: #000;
// 		z-index: 999;
// 		padding: 0 10px;
// 		color: #fff;
// 		font-weight: bold;
// 	}

// 	@include mobile {
// 		&:after {
// 			content: 'mobile';
// 		}
// 	}

// 	@include mobileWide {
// 		&:after {
// 			content: 'mobileWide';
// 		}
// 	}

// 	@include tablet {
// 		&:after {
// 			content: 'tablet';
// 		}
// 	}
// }