/* ==========================================================================
	BROWSER TWEAKS
   ========================================================================== */
   
html {
	-webkit-font-smoothing: antialiased;
}

// fixes input elements to have border-box great for percentages
* , *:before , *:after {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
}

// remove annoying dotted outline on links and form elements
* {
	outline: 0;
}

/* IE 10 Overrides */

// removes annoying x on inputs
*::-ms-clear {
	display: none;
}

// fix scrollbar overlap
body {
	-ms-overflow-style: scrollbar !important;
}

// Browser Form overwrites
input, textarea {
	@include appearance(none);
}
select {
	border-radius: 0;
}
textarea {
	resize: none;
}
input[type=submit] {
	cursor: pointer;
}

/* Mobile Overrides */
// remove ugly highlight color
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Fallback for devices that do not support blended mode for backgrounds
.fallback__thumbnail,
.fallback__overlay {
	display: none;
}

.no-backgroundblendmode {
	.fallback__thumbnail,
	.fallback__overlay {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
	}

	.fallback__thumbnail {
		background: none center center no-repeat #fff;
		background-size: cover;
	}

	.fallback__overlay {
		opacity: .75;
	}
}
