/* ==========================================================================
	FOOTER
   ========================================================================== */

.footer {
	margin-top: 10px;
	padding: 35px 5px 10px;
	background-color: #000;
	color: #666;

	@include tablet {
		color: #999;
		background: #00203a;
	}
}

.footer__nav {
	.footer__title {
		position: relative;
		
		&:after {
			content: '+';
			display: block;
			font: 1.5em/.75 $themeFontPrimary;
			color: #757575;
			position: absolute;
			right: 0;
			top: 0;
		}

		&--toggled {
			&:after {
				content: '-'
			}
		}
	}

	@include tablet {
		.footer__title {
			&:after {
				display: none;
			}
		}
	}
}

.footer__list {
	&.col {
		margin-top: 0;

		@include mobile {
			margin-top: 0;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

.footer__title {
	margin-bottom: 10px;
	font: 16px/1.2 $themeFontSecondary;
	color: #fff;
	text-transform: uppercase;

	.support & {
		margin-bottom: 15px;
	}

	& + .cols {
		display: none;
	}

	&--toggled {
		& + .cols {
			display: block;
		}
	}

	@include tablet {
		& + .cols {
			display: flex;
		}
	}
}

.footer__item {
}

.footer__link {
	display: block;
	padding: 2px 0;
	font: 14px/1.5 $themeFontPrimary;
	color: #666;
	transition: color $transitionSpeed ease-in-out, border-color $transitionSpeed ease-in-out;

	&:hover,
	&:focus {
		color: #99d6e3;
		text-decoration: underline;
	}

	@include tablet {
		color: #999;
	}
}

.footer__copyright {
	margin: 50px -15px 0;
	border-top: 1px solid #333;
	padding: 10px 15px 0;
	font: 14px/1.4 $themeFontPrimary;

	@include tablet {
		display: block;
		margin-top: 64px;
		border-top: 1px solid #1a374e;
		font-size: 15px;
	}
}

.support,
.social {
	margin-top: 35px;
}

.support {
	@include clearfix;

	@include tablet {
		margin-top: 0;
	}
}

.support__thumbnail {
	float: left;
	margin-right: 20px;
}

.support__description {
	margin-bottom: 20px;
	font-size: 14px;
}

.support__link {
	display: block;
	font-size: 14px;
	color: #99d6e3;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	& + & {
		margin-top: 5px;
	}
}

.social__list {
	font-size: 0;
}

.social__item {
	display: inline-block;
	width: 44px;
	height: 44px;
	background: #fff;

	& + & {
		margin-left: 10px;
	}
}

.social__link {
	display: block;
	height: 100%;
	background-color: #1a374e;
	position: relative;
	transition: background-color $transitionSpeed ease-in-out;

	&:after {
		font-size: 25px;
		color: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&--facebook {
		&:focus,
		&:hover {
			background: #01477f;
		}
		
		&:after {
			@extend %icon-facebook;
		}
	}
	&--instagram {
		&:focus,
		&:hover {
			background: #a57d60;
		}
		
		&:after {
			@extend %icon-instagram;
		}
	}
	&--google-plus {
		&:focus,
		&:hover {
			background: #d54135;
		}
		
		&:after {
			@extend %icon-google-plus;
		}
	}
	&--linkedin {
		&:focus,
		&:hover {
			background: #1985bc;
		}
		
		&:after {
			@extend %icon-linkedin;
		}
	}
	&--youtube {
		&:focus,
		&:hover {
			background: #cf2f2e;
		}
		
		&:after {
			@extend %icon-youtube;
		}
	}

	@include tablet {

	}
}