/* ==========================================================================
	GLOBAL
   ========================================================================== */

html, body {
	height: 100%;
}

body {
	color: $textColorPrimary;
	font: 400 18px/1.556 $themeFontPrimary;
	padding-top: $headerHeightMobile;

	&.hide-overflow {
		overflow: hidden;
	}

	@include mobileWide {
		padding-top: $headerHeightDesktop;

		&.hide-overflow {
			overflow: auto;
		}

	}
}

a {
	color: $brandColorPrimary;
	text-decoration: none;
}

button {
	font-family: $themeFontPrimary;

	&:hover {
		cursor: pointer;
	}
}

.container {
	@extend %clearfix;
	margin: 0 auto;
	max-width: $container;
	padding: 0px $spacingMobile;
	width: 100%;

	@include tablet {
		padding: 0px $spacingDesktop;
	}
}