/* ==========================================================================
	HEADER
   ========================================================================== */

.header {
	width: 100vw;
	height: $headerHeightMobile;
	position: fixed;
	left: 0px;
	top: 0px;
	background: #fff;
	z-index: 2;

	@include mobileWide {
		border-top: 40px solid #000;
		width: 100%;
		height: $headerHeightDesktop;
		background-color: transparent;
	}
}

.header__logo {
	padding-left: 15px;

	a {
		background-position: left;
		background-repeat: no-repeat;
		background-size: auto 34px;
		display: block;
		height: $headerHeightMobile;
		text-indent: -99999px;
	}

	@include mobileWide {
		padding-left: 30px;
		width: 260px;
		position: relative;
		z-index: 1;

		a {
			background-image: url(../images/logo-white.png) !important;
		}
	}
}

.header-nav__toggle {
	width: 46px;
	height: 60px;
	font-size: 0;
	position: absolute;
	right: 0;
	top: 0;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 6px;
		border-top: 2px solid #626264;
		border-bottom: 2px solid #626264;
		width: 16px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&:before {
		margin-top: -4px;
	}

	&:after {
		margin-top: 4px;
	}

	&--toggled {
		&:before,
		&:after {
			margin: 0;
			border: 0;
			width: 2px;
			height: 20px;
			transform-origin: center;
			background: #626264;
		}

		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	@include mobileWide {
		display: none;
	}
}

.header-nav {
	border-top: 1px solid #ebebeb;
	height: calc(100vh - #{$headerHeightMobile});
	left: 0;
	overflow: auto;
	padding: 0 15px;
	position: absolute;
	top: 100%;
	width: 100%;
	transform: translateX(100vw);
	transition: transform $transitionSpeed ease-in-out;
	background: #fff;

	.header-nav__toggle--toggled ~ & {
		transform: translateX(0);
	}

	@include mobileWide {
		border: 0;
		height: 100px;
		background-color: transparent;
		top: -40px;
		transform: none;
		transition: none;
		overflow: visible;
	}
}

.header-nav__list {
	.header-nav__sub-toggle {
		&:after {
			@extend %icon-arrow-down;
			display: none;
		}
	}

	@include mobileWide {
		position: absolute;
		right: 0;
		top: 40px;

		.header-nav__sub-toggle {
			padding: 0 50px 0 20px;
			color: #fff;
			font-size: 16px;
			line-height: 50px;

			&:after {
				display: block;
				font-size: 10px;
				color: #b3b8be;
				position: absolute;
				right: 35px;
				top: 20px;
				transition: color $transitionSpeed ease-in-out;
			}

			&--toggled {
				color: #111;
				background: #eff2f4;

				&:after {
					color: #757575;
				}
			}
		}

		.header-nav__item:last-child {
			.header-nav__sub-list {
				right: 0;
			}
		}
	}
}

.header-nav__item {
	@extend %clearfix;
	border-top: 1px solid #ebebeb;
	position: relative;

	&:first-child {
		border-top: none;
	}

	@include mobileWide {
		border-top: 0;
		display: inline-block;
	}
}

.header-nav__link {
	color: $textColorSecondary;
	display: block;
	font: 35px/1.2 $themeFontSecondary;
	padding: 20px 0px;
	text-transform: uppercase;
}

.header-nav__sub-toggle {
	width: 100%;
	padding: 11px 0;
	color: #000;
	font: 15px/1.2 $themeFontSecondary;
	text-transform: uppercase;
	text-align: left;
	// position: absolute;
	// right: 0px;
	// top: 30px;

	@include mobileWide {
		width: auto;
		transition: background-color $transitionSpeed ease-in-out, color $transitionSpeed ease-in-out;

		&--toggled {
			background: #eff2f4;
		}
	}
}

.header-nav__sub-list {
	display: none;
	padding-bottom: 20px;
	
	.header-nav__sub-toggle--toggled ~ & {
		display: block;
	}

	@include mobileWide {
		display: block;
		min-width: 125%;
		background: #eff2f4;
		padding-bottom: 0;
		visibility: hidden;
		opacity: 0;
		transition: visibility $transitionSpeed ease-in-out,  opacity $transitionSpeed ease-in-out;
		position: absolute;
		z-index: 1;
	
		.header-nav__sub-toggle--toggled ~ & {
			visibility: visible;
			opacity: 1;
		}
	}
}

.header-nav__sub-item {
	@include mobileWide {
		white-space: nowrap;
	}
}

.header-nav__sub-link {
	padding: 6px 0px;
	display: block;
	font: 15px/1.2 $themeFontPrimary;
	color: #111;
	text-transform: none;

	@include mobileWide {
		padding: 10px 30px;
		transition: background-color $transitionSpeed ease-in-out, color $transitionSpeed ease-in-out;

		&:focus,
		&:hover {
			background: #fff;
		}
	}
}

.header-sub-nav {
	border-top: 1px solid #ebebeb;

	@include mobileWide {
		border: 0;
		position: absolute;
		left: 0;

		.header-nav__sub-toggle {
			padding-left: 30px;
			padding-right: 30px;
			color: #888;

			&--toggled {
				color: #111;
				background: #eff2f4;
			}

		}
	}
}


.header-sub-nav--unt {
	border-top: 0;

	.header-nav__sub-link {
		padding: 11px 0;
		border-top: 1px solid #ebebeb;
		font-size: 15px;
		line-height: 1.2;
		color: #000;
		text-transform: uppercase;
	}

	@include mobileWide {
		top: 0;
		right: 460px;
		left: auto;

		.header-nav__sub-link {
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
			border: 0;
			color: #fff;

			&:focus,
			&:hover {
				color: #111;
			}
		}
	}
}
