.header-ctas {
	padding: 15px 0;
	font-size: 0;
	text-align: center;

	@include mobileWide {
		padding: 0;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.header-cta {
	display: inline-block;
	padding: 0 20px;
	font: 14px/2.2 $themeFontPrimary;
	color: #fff;
	background: #4ab141;
	transition: background-color $transitionSpeed ease-in-out;

	&:focus,
	&:hover {
		background-color: #008441;
	}

	& + & {
		margin-left: 16px;
	}

	@include mobileWide {
		width: 65px;
		padding: 5px 0;

		& + & {
			margin-left: 0;
		}
	}
}