/* ==========================================================================
	ICONS
	 ========================================================================== */

@font-face {
	font-family: 'icomoon';
	src:	url('../icons/icomoon.eot?vtc686');
	src:	url('../icons/icomoon.eot?vtc686#iefix') format('embedded-opentype'),
			url('../icons/icomoon.ttf?vtc686') format('truetype'),
			url('../icons/icomoon.woff?vtc686') format('woff'),
			url('../icons/icomoon.svg?vtc686#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

%icon {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%icon-youtube {
	@extend %icon;
	content: "\e900";
}
%icon-linkedin {
	@extend %icon;
	content: "\e901";
}
%icon-google-plus {
	@extend %icon;
	content: "\e902";
}
%icon-instagram {
	@extend %icon;
	content: "\e903";
}
%icon-facebook {
	@extend %icon;
	content: "\e904";
}
%icon-arrow-down {
	@extend %icon;
	content: "\e905";
}
%icon-bank {
	@extend %icon;
	content: "\e906";
}
%icon-building {
	@extend %icon;
	content: "\e907";
}
%icon-cap {
	@extend %icon;
	content: "\e908";
}
%icon-location {
	@extend %icon;
	content: "\e909";
}
%icon-search {
	@extend %icon;
	content: "\e90a";
}
