.page-title {
	margin: 10px -10px 0;
	padding: 2.5vw;
	font: 20px/1.2 $themeFontPrimary;
	color: $textColorSecondary;
	text-transform: uppercase;
	background-color: $brandColorSecondary;

	.col & {
		margin: 0;
	}

	@include mobileWide {
		font-size: 30px;
	}

	@include tablet {
		margin: 20px 0 0;
	}

	@include desktop {
		margin-top: 0;
		padding: 20px 35px;
		font-size: 50px;

		&--alt {
			font-size: 30px;
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}
}

.featured-image-container {
	width: 100%;
	overflow: hidden;

	& + & {
		display: none;
	}

	@include mobile {
		height: 100%;
	}
}

.featured-image {
	margin: 0 auto;
	display: block;
	max-width: 100%;
	height: auto;

	@include mobile {
		width: auto;
		height: 100%;
		max-width: none;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.article {
	margin-left: 2.5vw;
	margin-right: 2.5vw;

	@include desktop {
		margin-left: 35px;
		margin-right: 35px;
	}

	.page-title + & {
		margin-top: 20px;
	}
}

.cols {
	@include mobile {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;

		.cols:first-child {
			margin-top: -10px;
		}
	}

	@include tablet {
		margin: 0 -10px;
		display: flex;
		flex-wrap: wrap;

		.cols:first-child {
			margin-top: -20px;
		}
	}
}

.col {
	width: 100%;
	margin-top: 10px;

	@include mobile {
		margin-top: 5px;
		padding: 5px 5px 0;
	}

	@include tablet {
		margin-top: 10px;
		padding: 10px 10px 0;
	}
}

// .cols-1-1 = 1/2 1/2 layout
.cols-1-1 {

	@include mobile {
		> .col {
			width: 50%;
		}
	}
}

// .cols-2-1 = 2/3 1/3 layout
.cols-2-1 {
	@include tablet {
		> .col:nth-child(2n+1) {
			width: calc(200% / 3);
		}

		> .col:nth-child(2n) {
			width: calc(100% / 3);
		}
	}
}

// .cols-3-1 = 3/4 1/4 layout
.cols-3-1 {
	@include tablet {
		> .col:nth-child(2n+1) {
			width: 75%;
		}

		> .col:nth-child(2n) {
			width: 25%;
		}
	}
}

// .cols-1-1 = 1/3 2/3 layout
.cols-1-2 {
	@include tablet {
		> .col:nth-child(2n+1) {
			width: calc(100% / 3);
		}

		> .col:nth-child(2n) {
			width: calc(200% / 3);
		}
	}
}

// .cols-1-1-1 = 1/3 1/3 1/3 layout
.cols-1-1-1 {
	@include tablet {
		> .col {
			width: 33.33333%;
			width: calc(100% / 3);
		}
	}
}

// .cols-1-1-1-1 = 1/4 1/4 1/4 1/4 layout
.cols-1-1-1-1 {
	@include mobile {
		> .col {
			width: 50%;
		}
	}

	@include tablet {
		> .col {
			width: 25%;
		}
	}
}

// .cols-1-1-1-1 = 1/4 1/4 1/4 1/4 layout
.cols-1-1-1-1-1 {
	@include mobile {
		> .col {
			width: 50%;
		}
	}

	@include tablet {
		> .col {
			width: 20%;
		}
	}
}
