/* ==========================================================================
	UTILITIES
   ========================================================================== */

// breakpoint mixins
@mixin border-radius-fix($w) {
	@include border-top-left-radius($w);
	@include border-top-right-radius($w);
	@include border-bottom-left-radius($w);
	@include border-bottom-right-radius($w);
}

@mixin respond-to($width) {
		@media only screen and (max-width: $width) { @content; }
}

@mixin respond-from($width) {
		@media only screen and (min-width: $width) { @content; }
}

@mixin respond-to-height($height) {
		@media only screen and (max-height: $height) { @content; }
}

@mixin tablet {
	@media (min-width: $tablet) {
		@content
	}
}

@mixin desktop {
	@media (min-width: $desktop) {
		@content
	}
}

@mixin mobileWide {
	@media (min-width: $mobileWide) {
		@content
	}
}

@mixin mobile {
	@media (min-width: $mobile) {
		@content
	}
}

// aspect ratio
// rewritten, simplified
@mixin aspect-ratio($w, $h) {
	$slope: $h / $w;
	$height: $h - $w * $slope;
	padding-top: $slope * 100%;
	height: $height;
}

@mixin user-select($select) {
	$select: unquote($select);
	@include experimental(user-select, $select, -moz, -webkit, not -o, not -ms, -khtml, official);
}

// keyframes mixin
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin animation($def) {
	-webkit-animation: $def; /* Safari 4+ */
	-moz-animation:    $def; /* Fx 5+ */
	-o-animation:      $def; /* Opera 12+ */
	animation:         $def; /* IE 10+ */
}

@mixin clearfix {
	zoom:1;

	&:before, &:after {
			content: "\0020";
			display: block;
			height: 0;
			overflow: hidden;
	}

	&:after {
			clear: both;
	}
}

// extendable classes (not placeholder)
%clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}