/* ==========================================================================
	VARIABLES
   ========================================================================== */

// Fonts
$themeFontPrimary: 'Source Sans Pro', serif, sans-serif;
$themeFontSecondary: 'Fira Sans', serif, sans-serif;
$extraLight: 400;
$light: 400;
$regular: 400;
$bold: 600;

// Breakpoints
$mobile: 750px;
$mobileWide: 1024px;
$tablet: 1280px;
$desktop: 1280px;

// Sizes
$spacingMobile: 10px;
$spacingDesktop: 40px;
$container: 1280px;
$headerHeightMobile: 60px;
$headerHeightDesktop: 40px;
$footerHeightDesktop: 135px;

// Colors
$brandColorPrimary: #004174;
$brandColorSecondary: #99d6e3;

$textColorPrimary: #6d6e71;
$textColorSecondary: $brandColorPrimary;
$textColorTertiary: #fff;

$borderColorPrimary: #a1a1a1;
$borderColorSecondary: #ffffff;

$backgroundBlockquote: #f9f9f9;
$backgroundCallout: #e1e1e1;
$backgroundSliderNav: #bcbec0;
$backgroundSliderNavActive: #9c9c9d;

// Durations
$transitionSpeed: 0.25s;