.wysiwyg {
	font: 18px/1.45 $themeFontPrimary;
	color: $textColorPrimary;

	b,
	strong {
		font-weight: bold;
	}

	i,
	em {
		font-style: italic;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl,
	pre,
	table,
	blockquote {
		margin-top: 15px;

		&:first-child {
			margin-top: 0;
		}

		@include tablet {
			margin-top: 35px;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
	}

	h1 {
		font-size: 24px;
	}
	
	h2 {
		font-size: 22px;
	}
	
	h3 {
		font-size: 20px;
	}
	
	h4 {
		font-size: 18px;
	}
	
	h5 {
		font-size: 16px;
	}
	
	h6 {
		font-size: 16px;
	}

	.alignnone,
	.alignleft,
	.alignright,
	.aligncenter {
		max-width: 100%;
		padding-top: 15px;

		&:first-child {
			padding-top: 0;
		}

		@include tablet {
			padding-top: 35px;
		}

		a {
			display: block;
		}
	}

	.alignleft {
		float: left;
		padding-right: 10px;
		clear: right;
	}

	.alignright {
		float: right;
		padding-left: 10px;
		clear: left;
	}

	.aligncenter {
		margin: 0 auto;
		clear: both;
	}

	.wp-caption-text {
		margin-top: 10px;
		font-size: .85em;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	ul,
	ol {
		margin-left: 25px;
	}

	ol {
		list-style: decimal;
	}

	ul {
		li {
			position: relative;

			&:before {
				content: '';
				display: block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: $textColorPrimary;
				position: absolute;
				left: -20px;
				top: .65em;
			}
		}
	}

	dt {
		margin-top: 10px;
		padding-bottom: 5px;
		font-weight: 500;
	}

	dd {
		margin-left: 25px;

		& + dd {
			margin-top: 5px;
		}
	}

	table {
		width: 100%;
	}

	thead {
		background: gray;
		color: white;
	}

	th {
		font-size: 14px;
		font-weight: bold;
		padding: 15px 30px;
		position: relative;
		text-transform: uppercase;
		text-align: center;
		vertical-align: bottom;
		border: 1px solid #a1a1a1;
	}

	td {
		border: 1px solid #a1a1a1;
		font-size: 14px;
		overflow: hidden;
		padding: 10px;
		position: relative;

		@include tablet {
			padding: 20px;
		}
	}

	th,
	td {
		&.hidden {
			display: none !important;
		}

		&.align-left {
			text-align: left;
		}
		
		&.align-right {
			text-align: right;
		}

		&.align-center {
			text-align: center;
		}
	}

	pre {
		padding: 20px;
		font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", 
		"Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", 
		"Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
		color: $textColorSecondary;
		background: black;
		overflow-x: auto;
	}

	blockquote {
		margin: 20px 10px;
		padding: 20px 10px;
		border-left: 10px solid $borderColorPrimary;
		background: $backgroundBlockquote;
		quotes: "\201C""\201D";
		
		&:before {
			color: $borderColorPrimary;
			content: open-quote;
			font-size: 4em;
			line-height: 0.1;
			margin-right: 0.25em;
			vertical-align: -0.4em;
		}
		
		p {
			display: inline;
		}

		cite {
			font-style: italic;
		}
	}
	// Adding excerpt variant to reduce the margins for headings and paragraphs
	&--excerpt {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			margin-top: 10px;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: normal;
			text-transform: uppercase;
		}
		img {
			width: 100%;
		}
	}
}