.article__info {
	@include clearfix;
	margin-top: 15px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	position: relative;

	@include mobile {
		margin-top: 20px;
		font-size: 22px;
	}
}

.article__date,
.article__category {
	display: block;
}

.article__date {
	font-size: 15px;
	text-transform: uppercase;

	time {
		text-transform: none;
	}
}

.article__category {
	@include mobile {
		margin-top: 10px;
	}
}