.article__share {
	margin-top: 2.5vw;
	border-top: 2px solid $textColorPrimary;
	padding-top: 2.5vw;
	font-weight: bold;
	font-size: 15px;
	text-align: center;

	.news__listing & {
		margin-top: 10px;
	}

	.event__item & {
		border: 0;
		margin-top: 10px;
	}

	.callout & {
		margin-top: 0;
		border: 0;
		padding: 0;
		font-weight: normal;
		font-size: 18px;
	}

	@include mobile {
		margin-top: 10px;
		padding-top: 10px;

		.news__listing & {
			margin-top: 20px;
		}

		.article__info & {
			padding-left: 10px;
			padding-right: 10px;
			position: absolute;
			right: 0;
			top: 0;
		}

		.callout & {
			padding: 10px 0;
			font-size: 24px;
		}
	}

	@include mobileWide {
		.article__info & {
			margin-top: 0;
			padding-left: 20px;
			padding-right: 20px;
		}

		.callout & {
			padding: 20px 0;
			font-size: 30px;
		}
	}

	@include tablet {
		margin-top: 0;
		padding-top: 10px;

		.article__info & {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

.addthis_inline_share_toolbox {
	display: inline-block;
	vertical-align: middle;
	// margin-left: 5px;

	[role=button] {
		background-color: transparent !important;
	}

	.at-icon-wrapper,
	svg, {
		height: 26px !important;
		width: 26px !important;
	}

	svg {
		fill: $textColorPrimary !important;
	}

	.at-resp-share-element .at-share-btn {
		margin: 0;	
	}

	.at-style-responsive .at-share-btn {
		padding: 0;
	}

	.callout &,
	.event__item--featured & {
		svg {
			fill: $textColorSecondary !important;
		}
	}

	.callout & {
		.at-icon-wrapper,
		svg {
			height: 36px !important;
			width: 36px !important;			
		}
	}
}