.button {
	display: block;
	padding: 10px 15px;
	border-radius: 30px;
	font: bold 15px/1.333 $themeFontSecondary;
	color: $textColorPrimary;
	text-align: center;
	text-transform: uppercase;
	background: $textColorSecondary;
	transition: background-color $transitionSpeed ease-in-out, color $transitionSpeed ease-in-out;

	&:focus,
	&:hover {
		background-color: $brandColorPrimary;
		color: $textColorSecondary;
	}

	.promo & {
		background-color: $brandColorPrimary;
		color: $textColorSecondary;

		&:focus,
		&:hover {
			background-color: $textColorSecondary;
			color: $brandColorPrimary;
		}
	}

	@include tablet {
		font-size: 18px;
		padding: 13px 15px;
	}
}
