.callout {
	padding: 2.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: $backgroundCallout;
	overflow: hidden;
	position: relative;

	&:only-child {
		height: 100%;
	}

	& + & {
		margin-top: 10px;
	}

	.button {
		width: 70%;
		margin: 20px auto 2.5vw;
	}

	@include mobile {
		padding-left: 0;
		padding-right: 0;
	}

	@include tablet {
		padding: 0;

		& + & {
			margin-top: 20px;
		}

		.button {
			margin-top: 35px;
		}
	}

	// Icons
	.icon {
		@extend %icon;
		display: block;
		border-radius: 50%;
		background: $textColorSecondary;
		font-size: 20px;
		line-height: 48px;
		text-align: center;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);

		&:before {
			display: block;
			width: 48px;
			height: 48px;
			font-size: 1.5em;
		}

		&--location {
			&:before {
				@extend %icon-location;
			}
		}

		&--profile {
			&:before {
				@extend %icon-profile;
			}
		}

		&--mail {
			&:before {
				@extend %icon-mail;
				font-size: 1em;
			}
		}

		&--phone {
			&:before {
				@extend %icon-phone;
			}
		}

		&--download {
			&:before {
				@extend %icon-download;
			}
		}

		&--calendar {
			&:before {
				@extend %icon-calendar;
			}
		}

		&--directory {
			&:before {
				@extend %icon-binoculars;
			}
		}

		&--pin {
			background-color: transparent;

			&:before {
				@extend %icon-pin;
				font-size: 2.5em;
				color: $textColorSecondary;
			}
		}

		&--clock {
			&:before {
				@extend %icon-clock;
			}
		}
	}

	@include mobile {
		.icon {
			display: block;
		}
	}

	@include mobileWide {
		.icon {
			line-height: 60px;
			font-size: 25px;
			
			&:before {
				width: 60px;
				height: 60px;
			}
		}
	}
}

.callout__link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.callout__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	@include tablet {
		margin: 0 auto;
		width: 64%;
	}
}

.callout__title {
	padding-top: 10px;
	margin-bottom: 5px;
	font: bold 18px/1.2 $themeFontPrimary;
	color: $textColorSecondary;
	text-transform: uppercase;
	position: relative;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 2px;
		width: 50px;
		background: $textColorSecondary;
		position: absolute;
		left: 50%;
		transform: translateX(-50%)
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: -10px;
	}

	@include mobileWide {
		font-size: 30px;
	}
}

.callout__blurb {
	margin-top: 15px;
	font-size: 16px;
	line-height: 1.4;
	color: $textColorSecondary;
	word-break: break-word;

	& + .icon {
		top: 0;
		transform: none;
	}

	@include tablet {
		font-size: 22px;
	}
}

.callout__image {
	display: block;
	margin: 0 auto;
	width: 36%;
	order: -1;
	position: relative;

	img {
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

// Standard variant extending basic callout module styles
.callout--standard {
	min-height: 100px;

	.callout__title {
		padding-top: 0;
		font-weight: normal;

		&:before,
		&:after {
			display: none;
		}
	}

	.callout__content {
		padding-left: 60px;
		font-size: 16px;
		position: relative;
	}

	@include mobile {
		.callout__content {
			margin-left: 10%;
		}
	}

	@include mobileWide {
		.callout__content {
			font-size: 22px;
			padding-left: 85px;
		}
	}

	@include desktop {
		.callout__title {
			font-size: 50px;
		}
	}
}

// Contact variant of callout module
.callout--contact {
	display: block;

	.callout__title {
		padding-top: 0;
		width: auto;
		font-weight: normal;
		color: $textColorSecondary;
		text-align: left;

		&:before {
			display: none;
		}

		&:after {
			width: 100%;
			background: $textColorSecondary;
		}
	}

	.callout__content {
		width: auto;
	}

	@include mobile {
		.callout__title {
			margin: 1.25vw 1.25vw 0;
		}
	}

	@include mobile {
		padding: 0;
	}
}

.callout__list {
	margin: 25px 0 10px;

	@include mobile {
		margin: 50px 0 35px 10%;
	}

	@include tablet {
		margin-left: 15%;
	}

	@include desktop {
		margin-left: 10%;
	}
}

.callout__list-item {
	padding-left: 60px;
	font-size: 16px;
	line-height: 1.5;
	color: $textColorSecondary;
	position: relative;

	&,
	a {
		// Each list-item should be at least 2 lines high
		// Each line is 1.5 font-height, or 24px
		// 2 lines high == 48px;
		min-height: 48px;
	}

	& + & {
		margin-top: 10px;
	}

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 48px;
		color: $textColorSecondary;
		margin-left: -60px;
		padding-left: 60px;
	}

	@include mobileWide {
		font-size: 22px;
		padding-left: 80px;

		&,
		a {
			// Updating line-item height to match font-size change
			min-height: 66px;
		}
	}

	@include tablet {
		padding-left: 85px;
	}
}

.callout__list-item-link {
	display: block;
}

// Event date and venue variants of callout module
.callout--date,
.callout--event-venue {

	.callout__content {
		flex-direction: row-reverse;
		align-items: center;
	}

	.callout__title {
		font-weight: normal;
		text-align: center;
		position: relative;
		white-space: nowrap;
	}

	.callout__blurb {
		display: block;
	}

	.icon {
		position: relative;
		margin-left: -75px;
		margin-right: 20px;
		top: 20px;
	}
}

.callout--date,
.callout--event-venue .callout__link {
	padding: 5vw;
}

.callout--event-venue {
	padding: 0;
}

// Latest Articles & Media variants extending basic callout module styles
.callout--latest,
.callout--media {
	display: block;
	height: 0;
	padding-bottom: 100%;

	.callout__content {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}

	.button {
		margin-bottom: 0;
		width: 300px;
		max-width: 70vw;
		margin-top: 40px;
	}

	// Need to ensure the modules don't get obnoxiously large
	@include respond-from(475px) {
		margin: 0 auto;
		padding: 0;
		height: 475px;
		width: 475px;
	}

	@include tablet {
		margin: auto;
		padding-bottom: 100%;
		height: 0;
		width: auto;
	}
}

.callout--latest {
	background: none no-repeat center center #0170af;
	background-size: cover;

	&[style^="background-image"]{
		background: none center center no-repeat $textColorSecondary;
		background-size: cover;
		background-blend-mode: multiply, luminosity;
	}

	@include tablet {
		.callout__content {
			width: auto;
		}
	}
}

.callout--media {
	background: $brandColorPrimary;

	.callout__content {
		flex-direction: row-reverse;
		align-items: center;
		white-space: nowrap;
		padding-bottom: 100px;
	}

	.callout__title {
		position: static;

		&:after {
			bottom: 90px;
		}
	}

	.icon {
		display: block;
		margin-right: 10px;
		color: $brandColorPrimary;
		position: static;
		transform: none;
	}

	.button {
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

// Image variants extending basic callout module styles
.callout--image {
	padding: 0;

	.callout__link {
		display: block;
		background: none no-repeat center center;
		background-size: cover;
		height: 300px;
		position: relative;

		&:hover {
			.callout__blurb,
			&:before {
				visibility: visible;
				opacity: 1;
			}
		}

		&:before {
			content: '';
			display: block;
			background: rgba(255,255,255,.8);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			visibility: hidden;
			opacity: 0;
			transition: visibility $transitionSpeed ease-in-out, opacity $transitionSpeed ease-in-out;;
		}

		@include mobile {
			height: 500px;
		}
	}

	.callout__title {
		margin: 0;
		width: auto;
		min-width: 160px;
		padding: 10px 40px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		&:hover {
			color: $textColorSecondary;
		}

		&:before,
		&:after {
			display: none;
		}
	}

	.callout__blurb {
		width: 100%;
		// Margin top used to push blurb below title/button
		margin-top: 30px;
		padding: 0 20px;
		font-size: 12px;
		color: $textColorTertiary;
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		visibility: hidden;
		opacity: 0;
		transition: visibility $transitionSpeed ease-in-out, opacity $transitionSpeed ease-in-out;;

		@include mobileWide {
			margin-top: 50px;
			font-size: 16px;
		}
	}
}

// Ad variants extending basic callout module styles
.callout--ad {
	padding: 0;

	.callout__image {
		width: auto;
		width: 100%;
	}

	.callout__title {
		width: auto;
		padding: 10px 40px;
		font-size: 18px;
		font-weight: bold;
		font-family: $themeFontSecondary;
		white-space: nowrap;
		position: absolute;
		left: 50%;
		bottom: 50px;
		transform: translateX(-50%);

		&:before,
		&:after {
			display: none;
		}
	}

	&:hover {
		.callout__title {
			color: $brandColorPrimary;
			background: $textColorSecondary !important;
		}
	}
}

.callout--button {
	padding: 0;

	.callout__link {
		padding: 2vw;
		min-height: 200px;

		&:hover {
			.callout__title {
				color: $textColorSecondary;
				background-color: $brandColorPrimary;
			}
		}
	}

	.callout__title {
		@extend .button;
		max-width: 90%;
		padding-left: 40px;
		padding-right: 40px;
		margin: 0 auto;

		&:before {
			top: -20px;
		}

		&:after {
			bottom: -20px;
		}
	}
}

// Latest Event variant extending basic callout module styles
.callout--latest-event {
	padding: 0;

	.callout__link {
		display: block;
		background: none no-repeat center center;
		background-size: cover;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.callout__event-info,
	.button {
		position: relative;
		z-index: 1;
	}

	.callout__event-info {
		margin: 20px 20px 0;
		padding: 20px 10px;
		text-align: center;
		background: rgba(255,255,255,.9);

		@include mobile {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	.callout__event-badge {
		display: inline-block;
		padding: 4px 30px;
		margin: 0 auto;
		border-radius: 18px;
		font: bold 12px/1.5 Roboto, Arial, sans-serif;
		color: $textColorSecondary;
		text-transform: uppercase;
		position: relative;
		background: $brandColorPrimary;
		transition: color $transitionSpeed ease-in-out, background-color $transitionSpeed ease-in-out;;

		&:focus,
		&:hover {
			background-color: $textColorSecondary;
			color: $brandColorPrimary;
		}

		&:before,
		&:after {
			content: '';
			display: block;
			height: 2px;
			width: 25px;
			background: $textColorTertiary;
			position: absolute;
			top: 50%;
			margin-top: -1px;
		}

		&:before {
			right: calc(100% + 15px);
		}

		&:after {
			left: calc(100% + 15px);
		}
	}

	.callout__event-title {
		display: block;
		margin-top: 10px;
		font-size: 20px;
		line-height: 1.25;
		color: $textColorPrimary;
		text-transform: uppercase;

		@include mobileWide {
			font-size: 30px;
		}

		@include desktop {
			font-size: 50px;
		}
	}

	.callout__date {
		display: block;
		margin-top: 10px;
		font-size: 16px;
		line-height: 1;
		color: $textColorPrimary;
		text-transform: uppercase;

		@include mobileWide {
			margin-top: 10px;
			font-size: 20px;
		}

		@include desktop {
			margin-top: 10px;
			font-size: 30px;
		}
	}

	.button {
		display: block;
		width: auto;
		margin: 20px;
		color: $textColorSecondary;
		background: $brandColorPrimary;

		&:focus,
		&:hover {
			background-color: $textColorSecondary;
			color: $brandColorPrimary;
		}

		@include mobile {
			width: 25%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// Latest News variant extending basic callout module styles
.callout--latest-news {
	padding: 15px;

	@include mobile {
		padding: 1.25vw;
	}

	.callout__link {
		color: $textColorSecondary;
	}

	.callout__title {
		padding: 0 0 15px;
		font-weight: normal;
		font-size: 18px;
		line-height: 1.2;
		color: $textColorSecondary;
		text-transform: uppercase;
		position: relative;

		&:before {
			display: none;
		}

		&:after {
			width: 100%;
			background: $textColorSecondary;
			left: 0;
			bottom: 0;
			transform: none;
		}

		@include mobileWide {
			font-size: 22px;
		}

		@include desktop {
			font-size: 30px;
		}
	}

	.callout__content {
		margin-top: 10px;
		padding-left: 60px;
		width: auto;

		&:before,
		&:after {
			@extend %icon;
			font-size: 40px;
			position: absolute;
		}

		&:before {
			@extend %icon-news; 
			left: 10px;
			top: 0;
		}

		// @include mobile {
		// 	margin-left: 10%;
		// }

		@include mobileWide {
			padding-left: 85px;

			&:before {
				font-size: 70px;
			}
		}
	}

	.callout__date {
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;

		@include mobile {
			font-size: 15px;
		}
	}

	.callout__news-title {
		font-weight: 500;
		font-size: 15px;
		text-transform: uppercase;

		@include mobile {
			font-size: 22px;
		}
	}

	.callout__excerpt {
		padding-right: 30px;
		font-size: 12px;
		line-height: 1.3;
		position: relative;

		&:before,
		&:after {
			content: '';
			display: block;
			width: 20px;
			height: 1px;
			background: $textColorSecondary;
			position: absolute;
			right: 5px;
			bottom: -5px;
			transform-origin: right center;
		}

		&:before {
			transform: rotate(45deg) translate(-15px, -15px);
		}

		&:after {
			transform: rotate(-45deg) translate(15px, -15px);
		}

		@include mobile {
			font-size: 18px;
		}
	}
}

// Slider variant extending basic callout module styles
.callout--slider {
	margin-top: 10px;
	padding: 0 0 10px;
	text-align: center;
	background: $backgroundCallout;

	.callout__title {
		display: inline-block;
		width: 90%;
		border-bottom: 2px solid $textColorPrimary;
		font-weight: normal;
		font-size: 26px;
		line-height: 1.6;
		color: $textColorPrimary;
		text-transform: uppercase;

		&:before,
		&:after {
			display: none;
		}
	}

	@include mobile {
		padding: 20px;
	}

	@include tablet {
		margin-top: 20px;

		.callout__title {
			padding-top: 0;
		}
	}
}

.callout--share {
	.callout__title {
		margin-bottom: 10px;
	}
}

// Fallback for devices that do not support blended mode for backgrounds
.no-backgroundblendmode {
	.callout--latest {
		.callout__content {
			z-index: 1;
		}
	}
}
