.contact-details {
	padding: 2.5vw;
	height: 100%;
	background: $backgroundCallout;

	@include mobile {
		padding: 1.25vw;
	}
}

.contact-details__title {
	padding: 0 0 15px;
	font: 18px/1.2 "Roboto", sans-serif;
	color: $textColorPrimary;
	text-transform: uppercase;
	position: relative;
	
	&:after {
		content: '';
		display: block;
		height: 2px;
		width: 100%;
		background: $textColorPrimary;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	@include tablet {
		font-size: 22px;
	}
}

.contact-details__blurb {
	margin-top: 10px;
	font: 18px/1.5 "Roboto", sans-serif;
	color: $textColorPrimary;
	word-break: break-word;

	@include mobileWide {
		margin-top: 15px;
	}
}