.ctas {
	.cols {
			margin: 0 -10px;
	}

	@include mobile {
		margin-top: -90px;
		position: relative;
		z-index: 1;
	}

	@include mobileWide {
		margin: -180px 0 0;

		.cols {
			margin: 0;
		}
	}
}

.cta {
	padding: 80px 20px 70px;
	margin-top: 0;
	text-align: center;
	background: #eff2f4;
	position: relative;

	&:nth-child(2n) {
		background: #e5e9eb;
	}

	&:before {
		display: block;
		font-size: 35px;
		color: $brandColorPrimary;
		position: absolute;
		left: 50%;
		top: 35px;
		transform: translateX(-50%);
	}

	&--cap {
		&:before {
			@extend %icon-cap;
		}
	}

	&--bank {
		&:before {
			@extend %icon-bank;
		}
	}
	
	&--building {
		&:before {
			@extend %icon-building;
		}
	}
	
	&--location {
		&:before {
			@extend %icon-location;
		}
	}

	@include mobile {
		padding: 100px 50px 90px;
	}
}

.cta__title {
	font: bold 20px/1.2 $themeFontSecondary;
	color: $brandColorPrimary;
	text-transform: uppercase;
}

.cta__description {
	margin-top: 10px;
	font: 14px/1.4 $themeFontPrimary;
	color: #666;

	@include mobile {
		margin-top: 30px;
	}
}

.cta__link {
	display: block;
	width: 100%;
	padding: 8px 0;
	font: bold 16px/1.5 $themeFontSecondary;
	color: $brandColorPrimary;
	background: $brandColorSecondary;
	position: absolute;
	left: 0;
	bottom: 0;

	.cta:nth-child(2n) & {
		color: #fff;
		background: #002f6c;
	}
}
