.date-picker {
	padding: 2.5vw 2.5vw 20px;
	height: 100%;
	background: $backgroundCallout;

	@include mobileWide {
		padding: 1.25vw 1.25vw 20px;
	}
}

.date-picker__title {
	padding: 0 0 15px;
	font: 20px/1.2 "Roboto", sans-serif;
	color: $textColorPrimary;
	text-transform: uppercase;
	position: relative;
	
	&:after {
		content: '';
		display: block;
		height: 2px;
		width: 100%;
		background: $textColorPrimary;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	@include tablet {
		font-size: 22px;
	}
}

.date-picker__content {
	@include clearfix;
	display: flex;
	margin: 15px auto 0;
	width: 80%;
	width: calc(100% - 40px);
	max-width: 460px;
	position: relative;

	@include mobileWide {
		width: 80%;
		width: calc(100% - 120px);
	}
}

.date-picker__current-date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25%;
	padding: 5%;
	border-radius: 15px 0 0 15px;
	text-align: center;
	background: $textColorSecondary;

	@include mobileWide {
		padding: 15px;
	}
}

.date-picker__current-day,
.date-picker__current-month,
.date-picker__current-year {
	display: block;
	font-weight: bold;
	line-height: 1;
}

.date-picker__current-month {
	border-bottom: 1px solid $brandColorPrimary;
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 20px;
	color: $brandColorPrimary;

	@include mobileWide {
		font-size: 30px;
	}
}

.date-picker__current-day {
	margin-top: 15px;
	font-size: 30px;
	color: $brandColorPrimary;

	@include mobileWide {
		margin-top: 20px;
		font-size: 38px;
	}

	@include tablet {
		font-size: 48px;
	}

	@include desktop {
		font-size: 72px;
	}
}

.date-picker__current-year {
	margin-top: 15px;
	border-top: 1px solid $brandColorPrimary;
	padding-top: 10px;
	font-size: 14px;
	color: $textColorTertiary;

	@include mobileWide {
		margin-top: 20px;
		font-size: 18px;
	}
}

.date-picker__form {
	width: 75%;
	border-radius: 0 15px 15px 0;
	padding: 0 5% 20px;
	background: $brandColorPrimary;
	overflow: hidden;

	input {
		display: none;
	}
}

.ui-datepicker-prev,
.ui-datepicker-next {
	width: 20px;
	height: 100%;
	font-size: 0;
	position: absolute;
	top: 0;
	cursor: pointer;

	&:before {
		@extend %icon;
		color: $textColorPrimary;
		font-size: 35px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	@include mobileWide {
		width: 60px;

		&:before {
			font-size: 70px;
		}
	}
}

.ui-datepicker-prev {
	left: 0;
	transform: translateX(-100%);		

	&:before {
		@extend %icon-angle-left;
		left: 0;
	}
}

.ui-datepicker-next  {
	right: 0;
	transform: translateX(100%);

	&:before {
		@extend %icon-angle-right;
		right: 0;
	}
}

.ui-datepicker-title {
	margin: 0 0 20px;
	border-bottom: 1px solid $textColorSecondary;
	font-weight: lighter;
	font-size: 20px;
	line-height: 60px;
	color: $textColorSecondary;
	text-align: center;

	@include tablet {
		font-size: 28px;
	}
}

.ui-datepicker-calendar {
	width: 100%;
	text-align: center;

	&, a {
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: $textColorSecondary;
	}

	a {
		display: block;
	}

	@include mobileWide {
		&, a {
			font-size: 13px;
		}
	}
}

 .ui-state-disabled {
 	opacity: .25;
 }

.date-range-selected > .ui-state-active,
.date-range-selected > .ui-state-default {
	background: none;
	background-color: $textColorSecondary;
	color: black;
}

.ui-datepicker-week-end.date-range-selected > .ui-state-active,
.ui-datepicker-week-end.date-range-selected > .ui-state-default {
	position: relative;
	
	&:before {
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		background: $textColorSecondary;
		position: absolute;
		top: 0;
	}
}

.date-range-selected:first-child  > .ui-state-active,
.date-range-selected:first-child > .ui-state-default {
	&:before {
		right: 100%;
	}	
}

.date-range-selected:last-child  > .ui-state-active,
.date-range-selected:last-child > .ui-state-default {
	&:before {
		left: 100%;
	}	
}

.date-range-selected--start:first-child  > .ui-state-active,
.date-range-selected--start:first-child > .ui-state-default,
.date-range-selected--end:last-child  > .ui-state-active,
.date-range-selected--end:last-child > .ui-state-default {
	&:before {
		display: none;
	}
}

.date-range-selected--start > .ui-state-active,
.date-range-selected--start > .ui-state-default {
	border-radius: 45% 0 0 45%;
}


.date-range-selected--end > .ui-state-active,
.date-range-selected--end > .ui-state-default {
	border-radius: 0 45% 45% 0;
}


.date-range-selected--start.date-range-selected--end > .ui-state-active,
.date-range-selected--start.date-range-selected--end > .ui-state-default {
	color: $textColorSecondary;
	background-color: transparent;
	position: relative;

	&:before {
		content: '';
		display: block;
		width: 28px;
		padding-bottom: 24px;
		border-radius: 50%;
		border: 3px solid $textColorSecondary;
		background-color: transparent;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	@include mobileWide {
		&:before {
			width: 34px;
			padding-bottom: 30px;
		}
	}
}