.event__item {
	background: $backgroundCallout;

	.button	{
		margin: 5px auto 0;
		width: auto;
		padding: 7px 45px;
		color: $textColorSecondary;
		font-size: 12px;
		background-color: $brandColorPrimary;
		
		@include mobileWide {
			width: 70%;
			padding: 13px 15px;
			font-size: 18px;
			margin: 20px auto 0;
		}
	}
}

.event__item,
.event__link {
	height: 100%;
}

.event__link {
	display: flex;
	flex-direction: column;
	color: $textColorPrimary;
	overflow: hidden;
	position: relative;

	&:focus,
	&:hover {
		.button	{
			background: $textColorSecondary;
			color: $brandColorPrimary;
		}
	}

	@include mobile {
		flex-direction: row;
	}
}

.event__image {
	display: block;
	height: 200px;
	order: -1;
	position: relative;
	overflow: hidden;

	img {
		display: block;
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	@include mobile {
		width: 36%;
		height: auto;
	}
}

.event__info {

	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 0;
	text-align: center;

	@include mobile {
		width: 64%;
		padding: 50px 0 20px;
	}
}

.event__title {
	width: 75%;
	margin: 0 auto;

	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-transform: uppercase;

	@include mobileWide {
		font-size: 22px;
	}

	@include tablet {
		font-size: 30px;
	}
}

.event__date {
	display: block;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;

	@include tablet {
		font-size: 22px;
	}
}

.event__excerpt {
	display: none;

	@include tablet {
		width: 75%;
		margin: 10px auto 0;
		margin-top: 1.25vw;
		font-weight: bold;
		font-size: 15px;
	}
}

// Featured variant
.event__item--featured {
	margin: 0 -10px;

	@include tablet {
		margin: 0;
	}

	.event__link {
		color: $textColorSecondary;

		&:focus,
		&:hover {
			.button {
				// Need to override inline-style
				color: $textColorSecondary !important;
				background: $brandColorPrimary;
			}
		}

		@include tablet {
			flex-direction: row;
		}
	}

	.event__image,
	.event__info {
		@include mobile {
			width: 50%;
		}
	}

	.event__info {
		padding: 20px;

		@include mobileWide {
			padding: 50px;
		}
	}

	.event__title {
		font-weight: 500;
		font-size: 20px;

		@include mobileWide {
			font-size: 30px;
		}

		@include tablet {
			font-size: 50px;
		}
	}

	.event__date {
		font-weight: 500;
		font-size: 14px;

		@include tablet {
			font-size: 30px;
		}
	}

	.event__excerpt {
		display: block;
		margin-top: 10px;
		font-weight: normal;
		font-size: 12px;

		@include mobileWide {
			font-size: 22px;
		}
	}

	.button {
		margin-top: 10px;
		background-color: $textColorSecondary;

		@include mobileWide {
			margin-top: 20px;
			padding: 13px 45px;
		}
	}
}