.explore {
	padding: 50px 0;
	text-align: center;
	background: #004174;
	position: relative;
	overflow: hidden;

	.container {
		position: relative;
		z-index: 1;
	}

	@include mobile {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.explore__title {
	font: bold 24px/1.2 $themeFontSecondary;
	color: #fff;
	text-transform: uppercase;

	@include mobile {
		font-size: 48px;
	}
}

.explore__link {
	font: 14px/1.2 $themeFontPrimary;
	color: #94d7e9;

	&:focus,
	&:hover {
		text-decoration: underline;
	}
}

.edge1,
.edge2,
.edge3 {
	position: absolute;

	&:before,
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	
	&:before {
		background: #0f5080;
	}

	&:after {
		background: #165785;
	}
}

.edge1 {
	width: 35%;
	height: 30%;
	left: 0;
	bottom: 0;
	transition: height $transitionSpeed ease-in-out;

	&:before,
	&:after {
		width: 200%;
		transform-origin: left top;
	}

	&:before {
		transform: rotate(30deg)
	}

	&:after {
		transform: rotate(40deg);
	}

	@include mobile {
		height: 45%;
	}

	@include mobileWide {
		height: 75%;
	}
}

.edge2 {
	width: 50%;
	height: 25%;
	right: 0;
	bottom: 100%;
	
	&:before,
	&:after {
		width: 150%;
		transform-origin: left bottom;
		left: 0;
		transition: transform $transitionSpeed ease-in-out;
	}	

	&:before {
		transform: rotate(8deg);
		transition: transform $transitionSpeed ease-in-out, left $transitionSpeed ease-in-out;
	}	

	&:after {
		left: 35px;
		transform: rotate(4deg);
		transition: transform $transitionSpeed ease-in-out;
	}	

	@include mobile {
		width: 60%;
		
		&:before,
		&:after {
		}	

		&:before {
			left: 0;
			transform: rotate(8deg);
		}	

		&:after {
			transform: rotate(4deg);
		}	
	}

	@include tablet {
		&:before {
			transform: rotate(4deg);
		}	

		&:after {
			transform: rotate(2deg);
		}	
	}
}

.edge3 {
	width: 25%;
	height: 25%;
	right: 0;
	bottom: 0;
	transition: height $transitionSpeed ease-in-out;

	&:before,
	&:after {
		width: 250%;
		right: 0;
		transform-origin: right top;
		transition: transform $transitionSpeed ease-in-out;
	}	

	&:before {
		transform: rotate(-35deg);
	}	

	&:after {
		transform: rotate(-50deg);
	}	

	@include mobile {
		height: 50%;
	}	

	@include mobileWide {
		&:before {
			transform: rotate(-15deg);
		}	

		&:after {
			transform: rotate(-20deg);
		}	
	}
}
