.featured-posts {
	margin-bottom: 15px;

	.cols {
		margin: 0 -10px;
	}

	@include mobile {
		padding: 0 5px;
		margin-bottom: 30px;

		.cols {
			margin: 0 -5px;
		}
	}
}

.featured-post {
	margin-top: 15px;
	position: relative;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0,16,36,0) 0%,rgba(0,16,36,0) 20%,rgba(0,16,36,1) 100%);
		position: absolute;
		left: 0;
		top: 0;
		opacity: .75;
	}

	@include mobile {
		margin: 20px 10px 0;
	}

	@include tablet {
		margin: 10px 10px 0;
	}
}

.featured-post__header {
	display: flex;
	flex-direction: column;
	color: #fff;
	position: absolute;
	left: 15px;
	bottom: 25px;
	z-index: 1;
}

.featured-post__thumbnail {
	display: block;
	width: 100%;
}

.featured-post__title {
	// max-width: 90%;
	margin-top: 5px;
	font: bold 20px/1.2 $themeFontSecondary;
	order: 2;
}

.featured-post__date {
	font: bold 12px/1 $themeFontSecondary;
	text-transform: uppercase;
	order: 1;
}