.filters {
	&--directory {
		display: none;

		.js & {
			display: block;
		}
	}
}

.filter {
	display: flex;
	align-items: center;
	padding: .5em 20px .5em 85px;
	width: 100%;
	height: 100%;
	color: $textColorSecondary;
	font-size: 22px;
	line-height: 1.2;
	text-align: left;
	text-transform: uppercase;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	transition: opacity $transitionSpeed ease-in-out;

	&:focus,
	&:hover {
		opacity: .75;
	}

	&:before,
	&:after {
		content: '';
		display: block;
		height: 18px;
		position: absolute;
		left: 25px;
		top: 50%;
	}

	&:before {
		width: 36px;
		border-radius: 10px;
		background: rgba(0,0,0,.1);
		transform: translateY(-50%);
	}

	&:after {
		width: 18px;
		border: 2px solid $textColorSecondary;
		border-radius: 50%;
		background: transparent;
		transform: translate(0, -50%);
		transition: background-color $transitionSpeed ease-in-out, transform $transitionSpeed ease-in-out;
	}

	&.active {
		&:after {
			background-color: $textColorSecondary;
			transform: translate(100%, -50%);
		}
	}

	@include tablet {
		padding: 1em 10% 1em 30%;
		font-size: 16px;
		
		&:before,
		&:after {
			left: 6%;
		}
	}

	@include desktop {
		padding: 1em 10% 1em 25%;
		font-size: 20px;
	
		&:before,
		&:after {
			margin-left: 0;
		}
	}
}
