.hero {
	min-height: 350px;
	position: relative;

	@include mobileWide {
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 180px;
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}

.hero-image {
	height: 350px;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;

	@include mobile {
		height: 580px;
	}

	@include mobileWide {
		height: 760px;
	}
}

.hero-content {
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;

	@include mobile {
		bottom: 130px;
	}

	@include mobileWide {
		bottom: 260px;
	}
}

.hero-title {
	display: inline-block;
	max-width: calc(100% - 30px);
	padding: 5px 15px;
	font: bold 30px/1.2 $themeFontSecondary;
	color: #fff;
	text-transform: uppercase;
	background: $brandColorPrimary;
	position: relative;
	z-index: 1;

	@include mobile {
		max-width: 50%;
		width: auto;
		padding: 0 50px 0 30px;
		font-size: 48px;
	}
}

.hero-caption {
	max-width: calc(100% - 60px);
	margin-top: -25px;
	padding: 40px 15px 25px;
	font: 14px/1.4285 $themeFontPrimary;
	color: #fff;
	background: rgba(0,0,0,.7);
	position: relative;

	@include mobile {
		width: 40%;
		padding-left: 60px;
	}

	&:after {
		display: block;
		content: '';
		height: 0;
		width: 0;
	    border-top: 200px solid rgba(0,0,0,.7);
	    border-right: 45px solid transparent;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(100%);
	}

	a {
		color: #94d7e9;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}