.info {
	background: url(../images/skyline.jpg) no-repeat center top;
	background-size: cover;

	.cols,
	.info__slider {
		max-width: 1080px;
		margin: 0 auto;
		padding: 20px 0 65px;
	}

	@include mobile {
		.cols,
		.info__slider {
			padding: 30px 0 75px;
		}
	}
}

.info__description {
	font: bold 18px/1.4 $themeFontSecondary;
	color: $brandColorPrimary;
	text-align: center;

	sup {
		font-size: .5em;
		text-decoration: underline;
		position: relative;
		top: -.4em;
	}

	sub {
		display: block;
		font-size: .65em;
	}

	@include mobile {
		font-size: 24px;
	}
}

.info__title {
	display: block;
	font: bold 60px/1.2 'Playfair Display', serif;

	@include mobile {
		font-size: 72px;
	}
}

.owl-dots {
	width: 100%;
	font-size: 0;
	text-align: center;
	position: absolute;
	bottom: 10px;
}

.owl-dot {
	display: inline-block;
	width: 20px;
	height: 3px;
	background: #878787;
	transition: background-color $transitionSpeed ease-in-out;

	& + & {
		margin-left: 10px;
	}

	&.active {
		background-color: #5f7f99;
	}
}