.callout--map {
	padding: 0;
	position: relative;
	
	.page-title--alt {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 15px 2.5vw;
		width: 100%;

		@include tablet {
			padding: 20px;
		}
	}
}

.map {
	display: block;
	height: 300px;

	@include mobile {
		height: 500px;
	}

	@include tablet {
		height: 400px;
	}
}

.map__label {
	display: none;
	padding: 10px;
	width: 200px;
	font: bold 15px/1.333 Roboto, arial, sans-serif;
	background: $borderColorSecondary;
	position: absolute;
	bottom: 20%;
	left: 21%;

	&:after {
		content: '';
		display: block;
		height: 0;
		width: 0;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 7px solid $borderColorSecondary;
		position: absolute;
		left: 0;
		bottom: -7px;
	}
}


.map__info-window {
	padding: 15px 0 10px;
	width: 130px;
	font-weight: bold;
}

.map__info-link {
	display: none;
}