.news__item {
	height: 100%;
	display: flex;
	flex-direction: column;

	@include mobile {
		flex-direction: row;
	}
}

.news__link {
	padding: 10vw 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: none center center no-repeat $textColorSecondary;
	background-size: cover;
	background-blend-mode: multiply, luminosity;

	&:focus,
	&:hover {
		.button {
			background-color: $brandColorPrimary;
			color: $textColorSecondary;
		}
	}

	.button {
		margin: 10% 15% 0;

		@include mobile {
			margin: 30px 15% 0;
		}

		@include tablet {
			margin-top: 40px;
		}
	}

	@include mobile {
		padding: 0;
		width: 60%;
	}
}

.news__title {
	padding: 15px 15%;
	font: bold 18px/1.2 $themeFontPrimary;
	color: $textColorSecondary;
	text-align: center;
	text-transform: uppercase;
	position: relative;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 2px;
		width: 50px;
		background: $textColorSecondary;
		position: absolute;
		left: 50%;
		transform: translateX(-50%)
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}

	@include tablet {
		font-size: 30px;
	}
}

.news__info {
	padding: 2.5vw;
	background: $backgroundCallout;

	@include mobile {
		width: 40%;
		padding: 70px 20px 10px;
	}
}

.news__date {
	display: block;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.5;
	color: $textColorTertiary;
	text-transform: uppercase;

	time {
		text-transform: none;
	}
}

.news__excerpt {
	margin-top: 0;
	font-size: 14px;

	@include mobile {
		font-size: 18px;
		margin-top: 20px;
	}
}

// Fallback for devices that do not support blended mode for backgrounds
.no-backgroundblendmode {
	.news__link {
		position: relative;
		overflow: hidden;
	}

	.news__title, 
	.news__link .button {
		position: relative;
		z-index: 1;
	}
}
