.pagination {
	display: flex;
	margin: 0 -5px;

	&__back,
	&__next {
		width: 50%;
		margin: 10px 5px 0;
		font-size: 20px;
		line-height: 2;
		color: $textColorTertiary;
		text-transform: uppercase;
		transition: opacity $transitionSpeed ease-in-out;
		background: $backgroundCallout;

		&:focus,
		&:hover {
			opacity: .5;
		}
	}

	[disabled="disabled"] {
		opacity: .25;
		cursor: default;
		pointer-events: none;
	}

	&__back:before,
	&__next:after {
		@extend %icon;
		width: 40px;
		font-weight: bold;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		position: relative;
		top: -2px;
	}

	&__back {
		text-align: left;

		&:before {
			@extend %icon-angle-left;
		}
	}

	&__next {
		text-align: right;

		&:after {
			@extend %icon-angle-right;
		}
	}

	@include mobile {
		font-size: 30px;
		
		&__back,
		&__next {
			font-size: 30px;
		
		}
	}

	@include tablet {
		margin: 0 -10px;
		
		&__back,
		&__next {
			margin: 20px 10px 0;
			font-size: 50px;
		}

		&__back:before,
		&__next:after {
			width: 80px;
		}
	}
}