.promo {
	display: flex;
	height: 100%;
	background: $backgroundCallout;
	overflow: hidden;
	position: relative;

	.button {
		margin: 15px auto 0;
		padding: 10px 15px;
		font-size: 13px;
	}

	@include mobile {
		.button {
			margin-top: 20px;
			font-size: 18px;
		}
	}

	@include tablet {
		.button {
			margin-top: 35px;
			width: 70%;
		}
	}
}

.promo__content {
	width: 64%;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.promo__title {
	width: 75%;
	padding: 15px 0;
	margin: 0 auto;
	font-size: 15px;
	font-weight: bold ;
	line-height: 1.2;
	color: $textColorPrimary;
	text-align: center;
	text-transform: uppercase;
	position: relative;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 2px;
		width: 50px;
		background: $textColorPrimary;
		position: absolute;
		left: 50%;
		transform: translateX(-50%)
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}

	@include mobile {
		font-size: 18px;
	}

	@include desktop {
		font-size: 30px;
	}
}

.promo__image {
	display: block;
	width: 36%;
	order: -1;
	position: relative;
	overflow: hidden;
	background: none center center no-repeat transparent;
	background-size: cover;
}