.search-form {
	position: relative;

	@include mobile {
		margin: 0 auto;
		width: 45%;
	}
}

.search-field {
	border: 0;
	border-right: 40px solid transparent;
	padding: 15px;
	width: 100%;
	font: 15px/1.333 $themeFontPrimary;
	background: #f2f2f2;

	&::-webkit-input-placeholder {
		font-size: 14px;
		color: #111;
		font-style: italic;
	}

	&::-moz-placeholder {
		font-size: 14px;
		color: #111;
		font-style: italic;
	}

	&:-ms-input-placeholder {
		font-size: 14px;
		color: #111;
		font-style: italic;
		opacity: 1;
	}

	&:-moz-placeholder {
		font-size: 14px;
		color: #111;
		font-style: italic;
	}
}

.search-submit {
	border: 0;
	width: 40px;
	height: 100%;
	font-size: 0;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	// transition: background-color $transitionSpeed ease-in-out;

	&:after {
		@extend %icon-search;
		font-size: 16px;
		line-height: 2.5;
		color: #757575;
		text-align: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%)
	}

	// &:active,
	// &:hover {
	// 	background: #00853f;
	// }
}

// Search form on main page
.explore {
	.search-form {
		margin: 20px auto 15px;
		width: 240px;
	}

	.search-field {
		padding: 10px 20px;
	}

	.search-submit {
		background-color: #4ab141;
		transition: background-color $transitionSpeed ease-in-out;

		&:focus,
		&:hover {
			background-color: #008441;
		}

		&:after {
			color: #fff;
		}
	}
}

// Search form in header
.search {
	margin: 0 -15px;

	@include mobileWide {
		margin: 0;
		border-left: 1px solid #424242;
		width: 255px;
		position: absolute;
		right: 195px;
		top: 0;

		.search-form {
			width: 100%;
		}

		.search-field {
			padding: 10px 15px;
			line-height: 20px;
			color: #999;
			background-color: transparent;

			&::-webkit-input-placeholder {
				font-size: 14px;
				color: #999;
				font-style: italic;
			}

			&::-moz-placeholder {
				font-size: 14px;
				color: #999;
				font-style: italic;
			}

			&:-ms-input-placeholder {
				font-size: 14px;
				color: #999;
				font-style: italic;
				opacity: 1;
			}

			&:-moz-placeholder {
				font-size: 14px;
				color: #999;
				font-style: italic;
			}
		}

		.search-submit {
			&:focus,
			&:hover {
				background: #00853f;
			}
		}
	}
}
