.owl-carousel,
.slider {
	height: 100%;

	.featured-image {
		width: 100%;
		height: auto;
		top: auto;
		left: auto;
		transform: none;
	}

	.hero--feature & {
		.featured-image {

		}
	}

	// Overriding some core styles
	@include mobile {
		.owl-item {
			overflow: hidden;
		}

		.owl-stage-outer,
		.owl-stage,
		.owl-item,
		.owl-item .featured-image {
			height: 100%;
		}

		.owl-item .featured-image {
			width: auto;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.owl-dots {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 10px;

	@include mobile {
		bottom: 20px;
	}

	@include tablet {
		bottom: 50px;
	}
}

.owl-dot {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 5px;

	span {
		border: 3px solid $textColorSecondary;
		padding: 0;
		border-radius: 50%;
		height: 100%;
		display: block;
		background: $textColorSecondary;
		transition: background-color $transitionSpeed ease-in-out;

		&:before {
			display: none;
		}

		&:hover,
		&:focus {
			background-color: rgba($brandColorPrimary, .5)
		}
	}

	&.active span {
		background-color: $brandColorPrimary;
	}

	@include mobile {	
		margin: 0 15px;
		width: 20px;
		height: 20px;
	}
}

.slider--logos {
	height: auto;

	.featured-image-container {
		height: auto;
		padding: 10px 0;

		@include mobile {
			padding: 20px 0;
		}
	}

	.owl-item img {
		width: 90%;
		height: auto;
		margin: 0 auto;
	}

	.owl-dots {
		position: static;
	}

	.owl-dot {
		margin: 0 10px;
		width: 7px;
		height: 7px;

		span {
			border: 0;
			background-color: $backgroundSliderNav;
		}

		&.active span {
			background-color: $backgroundSliderNavActive;
		}
	}
}