.stores {
	background: $backgroundCallout;
	margin-top: 10px;
	padding: 0 10px 10px;

	// Overriding layout due to isotope implementation
	.cols {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;

		> .col {
			margin-top: 5px;
			padding: 5px 5px 0;
			width: 49.999%;
		}
	}

	@include mobile {
		.cols {
			> .col {
				width: 49.999%;
			}
		}
	}

	@include tablet {
		margin-top: 20px;
		padding: 115px 125px;

		.cols {
			margin: 0 -10px;
			
			> .col {
				padding: 10px 10px 0;
				width: 24.999%;
			}
		}
	}
}

.store__link {
	display: block;
	padding-bottom: 85%;
	background: $borderColorSecondary;
	position: relative;
}

.store__logo {
	width: 75%;
	height: 75%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: none no-repeat center center transparent;
	background-size: contain;
}

.store__map-link,
.store__map {
	display: block;
}

.store__map {
	width: 100%;
	height: auto;
}